.page-title {
  font-family: "IBMPlexMono", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}
.videos{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 20px;
  width: auto;
  justify-content: center;
}
.video img {
    width: 280px;
    height: 280px;
    object-fit: contain;
    padding: 10px;
    background-size: auto;
    background-color: #121211;
    border-radius: 10px;
}
.video{
    margin: 0px 10px;
    padding: 10px;
}
.video:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .videos{
        display:inline-block;
        padding: 20px;
        width: auto;
        justify-content: center;
    }
    .video img {
        width: 200px;
        height: 200px;
    }
}